/*폰트*/

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
}

/*공통*/
*{margin: 0; padding: 0;}
ul{list-style: none;}
a{color: inherit; text-decoration: none;}
.inner{width: 1240px; margin: 0 auto;}
/* .clear{clear: both;} */

section{padding: 50px 0;}

h1{text-align: center; font-size: 3em; margin-bottom: 50px;}
h1::after{display: inline-block; width: 55px; height: 40px; margin-left: 5px; background: url(../imgs/logo2.png) no-repeat center; background-size: contain; content: '';}

/*헤더*/
header{position: fixed; width: 100%; height: 85px; padding-top: 30px; z-index: 99; background: linear-gradient(180deg, rgba(0,0,0,0.4), rgba(0,0,0,0)); color: #fff;}
.header_s{background: #fff; color: #111; padding-top: 30px; height: 85px; box-shadow: 0 2px 5px rgba(0,0,0,0.2);}
header .inner::after, header .inner::before{display: block; content: ""; clear: both;}
.logo{float: left; padding-right: 50px;}
nav{float: left;}
nav ul::after{display: block; content: ""; clear: both;}
nav ul li{float: left; margin: 10px;}
.util{float: right;}
.util::after{display: block; content: ""; clear: both;}
.util div{float: left; margin-left: 15px; filter: invert(100%);}
.util button{background-color: #D2BC7A; border: none; padding: 10px 15px; border-radius: 10px; margin-left: 20px; color: #fff; cursor: pointer;}
.util div img{width: 30px; height: 30px;}

/*메인이미지*/
.main{ text-align: center; padding: 0; padding-top: 115px;}
.main img{width: 100%;}

/*퀵메뉴*/
.quick{width: 1240px; position: relative; left: 50%; top: -90px; transform: translateX(-50%); border-radius: 90px; padding: 35px 35px 035px 35px; box-shadow: 0px 30px 30px lightgray; background-color: #fff;}
.quick::after{display: block; content: ''; clear: both;}
.quick > div{float: left;}
.quick > div::after{display: block; content: ''; clear: both;}
.quick > div img{float: left;}
.quick > div div{float: left; margin: 0 60px 0 40px;}
.quick > div h4{font-size: 1.7rem;}
.quick > div p{margin: 8px 0 10px; color: #aaa;}
.quick > div p > a{color: #111;}

/*스토리*/
.story{padding-bottom: 100px;border-bottom: 1px solid lightgray;}
.story_box::after{display: block; content: ''; clear: both;}
.story_box div{float: left; width: calc((100% - 150px) / 4); margin-left: 50px; height: 400px}
.story_box div:first-child{margin-left: 0;}
.story_box img{width: 100%; transition: 0.3s;}
.story_box div > h6{font-size: 18px; padding-top: 35px; color: #FF9100;}
.story_box div > p{font-size: 24px; margin: 8px 0;}

/*스토리박스 호버*/
.story_box div:hover img{transform: scale(1.2); border-bottom-right-radius: 30px; box-shadow: 0 10px 30px rgb(177, 177, 177);}

/*중간배너*/
.management{text-align: center;}
.management img{width: 100%;}

/*캠페인*/
.campaign > .inner{margin-bottom: 200px;}
.campaign > .inner > h3{text-align: center; margin-bottom: 100px; font-size: 1.5em; font-weight: lighter;}
.campaign > .inner > h3 > span{font-weight: bold;}

.cam_box::after{display: block; content: ''; clear: both;}
.cam_box > div{float: left; width: calc((100% - 60px) / 3); margin-left: 30px; position: relative; height: 400px;}
.cam_box > div:first-child{margin-left: 0px;}
.cam_box > div > img{width: 100%; transition: 0.5s; position: absolute;}
.cam_box > div > h3{width: 100%; color: #fff; position: absolute; top: 80%; text-align: center; transition: 0.5s; z-index: 2;}

.ic_heart{width: 100px; height: 100px; background-color: #D2BC7A; border-radius: 50%; text-align: center; position: absolute; top: 80%; left: 50%; transform: translateX(-50%); opacity: 0; transition: 0.5s; z-index: 2;}

.ic_heart > img{width: 50%; margin-top: 20px;}
.ic_heart > p{margin-top: -10px; font-weight: bold; color: #fff;}

.cam_box > div:hover > img{transform: scale(1.1); z-index: 1; box-shadow: 0 20px 30px rgba(0,0,0,0.4);}
.cam_box > div:hover h3{transform: scale(1.2); top: 75%;}
.cam_box > div:hover .ic_heart{opacity: 1; top: 90%;}

/*.cam_box::after{display: block; content: ''; clear: both;}
.cam_box div{float: left; width: calc((100% - 150px) / 3); margin-left: 50px; height: 400px;}
.campaign > .inner > h1{margin-bottom: 15px;}
.inner > h3{text-align: center; margin-bottom: 100px;}
/*div > h3{margin:;} 내가 한 거*/

/*푸터*/

footer{background-color: #333; color: gray;}
.top_f{border-bottom: 1px solid gray;}
.top_f .inner::after{display: block; content: ''; clear: both;}

.top_f ul{float: left;}
.top_f .select_set{float: right; padding-top: 50px;}
.select_set select{border: 1px solid gray; padding: 5px 10px; background-color: initial; color: gray;}
.select_set select > option {background-color: #333;}

.top_f ul::after{display: block; content: ''; clear: both;}
.top_f ul li{float: left; padding: 50px 20px;}

.bottom_f .inner{position: relative; padding: 50px 20px;}
.bottom_f .inner button{position: absolute; padding: 5px 10px;top: 50px; left: 500px; cursor: pointer; background-color: initial; color: gray; border: 1px solid;}

/*사이드 퀵메뉴*/
.side img{display: block;}
.side{position: fixed; z-index: 90; top: 70%; right: 30px; box-shadow: 0 20px 30px rgba(0,0,0,0.4); border-radius: 100%;}


/***************** 'sub 공통' *****************/
main{padding-top: 115px;}
#sub_top > h1{width: 100%; height: 260px; line-height: 260px; background: url(../images/top_visual_1.jpg) no-repeat center center; color: #fff; text-align: center; margin: 0;}

#sub_top > div ul::after{clear: both; display: block; content: "";}
#sub_top > div ul li{float: left; margin: 0 5px;}
#sub_top > div ul li a::before{display: inline-block; content: '>';}
#sub_top > div ul li:first-child a::before{display: inline-block; content: ''; clear: both;}

/**************** 'sub1.html' ***************/
#sub1{margin-top: 20px auto;}
#sub1 > h2{text-align: center;}
.sub1_con{width: 100%;}
.sub1_con::after{clear: both; content: ''; display: block;}
.sub1_con div{width: calc((100% - 60px) / 3); margin: 10px; float: left; padding: 20px; box-sizing: border-box; border: 1px solid #aaa;}

/**************** 'sub2.html' ***************/
#sub2 #sub_top > h1{background: url(../images/top_visual_2.jpg);}
#sub2 > .con1 ul{width: 100%; border: 1px solid #aaa; border-radius: 50px;}
#sub2 > .con1 ul::after{content: ""; display: block; clear: both;}
#sub2 > .con1 ul li{float: left; width: 25%;}
#sub2 > .con1 ul li a{width: 100%; text-align: center; display: block; padding: 10px 0; border-radius: 50px;}
#sub2 > .con1 ul li a.on{background-color: #3ab549; color: #fff;}

/***************** 'sub3.html' ******************/
#sub3 #sub_top > h1{background: url(../images/top_visual_3.jpg);}
#sub3 #sub_top > ul{content: ""; display: block; clear: both;}
#sub3 > .con1 ul{width: 100%; border: 1px solid #aaa; border-radius: 50px;}
#sub3 #sub_top > h1::after{content: ""; display: block; clear: both;}
#sub3 > .con1 > h2{text-align: center;}
#sub3 > .con1 > h2 > span{font-weight: bold;}